.mediaViewInfo {
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920___1;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920___1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	/*Old name kept for stylesheets*/#Web_1920___1 { 
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		 min-height: 1000px;
            min-width: 1000px;
            width: 100%;
            height: 80%;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920___1;
		--web-enable-deep-linking: true;
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 76px;
		height: 1013px;
		left: 0px;
		top: 67px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 67px;
		left: 0px;
		top: 0px;
	}
	.GEAUXIT {
		position: absolute;
		overflow: visible;
		width: 197px;
		height: 57px;
		left: 0px;
		top: 5px;
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 1844px;
		height: 1013px;
		left: 76px;
		top: 67px;
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 495px;
		height: 46px;
		left: 145px;
		top: 85px;
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 47.369px;
		height: 1799px;
		transform: matrix(1,0,0,1,951.8154,-721.8154) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Number {
		position: absolute;
		left: 99px;
		top: 154px;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(255,255,255,1);
	}
	#Summary {
		position: absolute;
		left: 507px;
		top: 154px;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(255,255,255,1);
	}
	#Status {
		position: absolute;
		left: 1033px;
		top: 154px;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(255,255,255,1);
	}
	#Assigned_Tech {
		position: absolute;
		left: 1434px;
		top: 154px;
		overflow: visible;
		width: 201px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(255,255,255,1);
	}
	.Untitled_2 {
		position: absolute;
		overflow: visible;
		width: 76px;
		height: 77px;
		left: 0px;
		top: 93px;
	}
	.New_Ticket_Button {
		position: absolute;
		overflow: visible;
		width: 53px;
		height: 62px;
		left: 12px;
		top: 265px;
	}
	.settings_icon {
		position: absolute;
		overflow: visible;
		width: 53px;
		height: 53px;
		left: 12px;
		top: 422px;
	}
	.table{
		position: relative;
		top: 120px;
		left:76px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    	border-collapse: collapse;
    	width: 100%;
	}

	#table tr:hover{
		background-color: #ddd;

	}
	#table tr:nth-child(even):hover{
				background-color: #ddd;

	}
	#table tr:nth-child(even){background-color:  #f2e6ff;
	}

	td{
		padding: 0 50px 0 15px;
	}	
	
	#table th{
		color:white;
		background-color: rgba(70,27,125,1);
		padding: 10px 100px 30px 15px;

	}

	.Search_Button{
		position: absolute;
		overflow: visible;
		width: 53px;
		height: 53px;
		left: 620px ;
		top:85px;
	}

	#search_bar{
		position: relative;
top: 91px;
left: 115px;
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 32px;
width: 462px;
	}

	
